<ion-content class="bg-class">
  <ion-row class="ion-text-center">
    <ion-col size="12" class="ion-text-center">
      <ion-button [routerLink]="['/advices']" RouterLinkActive="active">Retourner à la page d'accueil</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-text-center"> 
    <ion-col size="3" class="ion-text-center">
      <ion-label style="color:white">Rayon de garde en km : </ion-label>
      <ion-chip style="color:white">{{selectedValue}}</ion-chip>
    </ion-col>
    <ion-col size="6" class="ion-text-center">
      
      <ion-range [pin]="true" [min]="50" [max]="1000" [(ngModel)]="selectedValue" [value]="500" (ngModelChange)="onRangeModelChange($event)" class="ion-range-small ion-text-center">
      </ion-range>
    </ion-col>
    <ion-col size="3" class="ion-text-center">

    </ion-col>
  </ion-row>
  <br>
  <div id="mapid"></div>

  <br>
  <ion-footer>
    <ion-toolbar>
      <ion-title style="text-align: center; font-size: 18px;">© Copyright 2023 Arosa-je -
        <a href="mentions-legales">Mentions légales & Politique de confidentialité</a>
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>