ion-menu {
    max-width: 300px;
    --ion-background-color: rgb(43, 43, 43);
  }

  @media only screen and (max-width: 768px) {
    ion-menu {
      max-width: 100%;
    }
  }

  #container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  .bg-class{
    --background: linear-gradient(180deg, RGB(64, 144, 107)  0%, RGB(31, 75, 56) 100%) !important;
  }

  .ion-border-top {
    border-top: 1px solid white;
  }
  
  .ion-border-bottom {
    border-bottom: 1px solid white;
  }
  
  .image-container {
    text-align: center;
    margin: 0 auto;
  }

  a{
    color: white !important;
    text-decoration: none;
  }

  .table-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  th:first-child,
  td:first-child {
    min-width: 150px;
    width: 150px;
  }
  
  @media only screen and (max-width: 767px) {
    table {
      display: wrap;
    }
    
    tr {
      display: wrap;
      margin-bottom: 10px;
    }
    
    th,
    td {
      display: wrap;
      width: 100%;
    }
    
    td:not(:first-child),
    th:not(:first-child) {
      border-left: none;
    }
    
    td:last-child,
    th:last-child {
      border-right: none;
    }
  }
  .transbutton {
    background-color: transparent;
    font-size: 15px;
    text-decoration: underline;
  }
  .backbutton1 {
    --background: RGB(52, 106, 74);
    --color: #ffff;
  
    --border-radius: 30px;
    --border-color: #fff;
    --border-style: solid;
    --border-width: 1px;
  
  }
  .backbutton2 {
    --background: #980606;
    --color: #ffff;
  
    --border-radius: 30px;
    --border-color: #fff;
    --border-style: solid;
    --border-width: 1px;
  
  }
    .circlebutton{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  }
  .plant-image {
    max-height: 150px;
    max-width: 150px;
  }
  .text-center {
    text-align: center;
  }
  .button-center {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex: 1;
  }
  .card-image-container {
    position: relative;
    height: 0;
    padding-bottom: 75%;
  }
  
  .card-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 100%;
  }
  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
  }