<ion-split-pane contentId="my-content">
  <ion-menu side="start" type="overlay" contentId="my-content">
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-row class="row-spacing">
              <ion-col size="11" class="ion-border-right">
                <div class="image-container">
                  <img src="assets/icon/Arosaje.png" height="100 px" width="200 px" [routerLink]="['/advices']" RouterLinkActive="active">
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-border-bottom ">
              <ion-col size="1" class="ion-border-right">
                <ion-icon name="leaf-outline"></ion-icon>
              </ion-col>
              <ion-col size="11" class="ion-border-right">
                <a href="/map">Garder une plante</a>
              </ion-col>
            </ion-row>
            <ion-row class="ion-border-top ion-border-bottom">
              <ion-col size="1" class="ion-border-right">
                <ion-icon name="clipboard-outline"></ion-icon>
              </ion-col>
              <ion-col size="11" class="ion-border-right">
                <a href="/form-declare">Déclarer sa plante</a>
              </ion-col>
            </ion-row>
            <ion-row class="ion-border-top ion-border-bottom">
              <ion-col size="1" class="ion-border-right">
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-col>
              <ion-col size="11" class="ion-border-right">
                <a href="/form-garde">Faire une demande de garde</a>
              </ion-col>
            </ion-row>
            <ion-row class="ion-border-top ion-border-bottom">
              <ion-col size="1" class="ion-border-right">
                <ion-icon name="mail-outline"></ion-icon>
              </ion-col>
              <ion-col size="11" class="ion-border-right">
                <a href="/mes-messages">Mes messages</a>
              </ion-col>
            </ion-row>
            <ion-row class="ion-border-top">
              <ion-col size="1" class="ion-border-right">
                <ion-icon name="person-outline"></ion-icon>
              </ion-col>
              <ion-col size="11">
                <a href="/mon-profil">Mon espace</a>
              </ion-col>
            </ion-row>
            <ion-row class="ion-border-top">
              <ion-col size="1" class="ion-border-right">
                <ion-icon name="arrow-undo-circle"></ion-icon>
              </ion-col>
              <ion-col size="11">
                <a href="/logout">Se déconnecter</a>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid> 
    </ion-content>
  </ion-menu>
  <ion-content class="bg-class" id="my-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Mes plantes</ion-title>
      </ion-toolbar>
    </ion-header> 
    
    <ion-row style="display: flex; align-items: stretch; margin: 0 auto; max-width: 1250px;">
      <ion-col size="12"class="ion-text-center">
        <h2>Mes plantes</h2>
      </ion-col>
      <ion-col size="12"class="ion-text-center">
        <ion-button [routerLink]="['/form-declare']" RouterLinkActive="active">Ajouter une plante</ion-button>
      </ion-col>
        <ng-container *ngFor="let plante of plantes">
          <ion-col size="4">
            <ion-card style="height: 100%;">
              <ion-card-header class="text-center">
                <div class="card-image-container">
                  <img [src]="'https://mspr-infra-bucket.s3.eu-west-3.amazonaws.com/images/' + plante.photo" alt="Plant" class="card-image">
                </div>
                <ion-card-title>{{ plante.name }}</ion-card-title>
                <ion-card-subtitle>Espèce : {{ plante.species }}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-row>
                <ion-col size="6" class="button-container">
                  <ion-button class="button-center backbutton1" (click)="savePlantId(plante.id)" expand="block">Voir</ion-button>
                </ion-col> 
                <ion-col size="6" class="button-container">
                  <ion-button class="button-center backbutton2" (click)="deletePlantId(plante.id)" expand="block">Supprimer</ion-button>
                </ion-col> 
              </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ng-container>
    </ion-row>
  </ion-content>
</ion-split-pane>