<ion-content class="bg-class">

  <div id="container">
    <img src="assets/icon/Arosaje.png" height="200 px" width="350 px">
    <h3><strong style="color: white;">Des plantes en pleine santé, sans aucun souci.</strong></h3><br>
    <ion-row  >
      <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
        offset-xl="4">
   
        <ion-card *ngIf="showFirstCard">
          <ion-card-header>
            <ion-card-title class="ion-text-center"><strong>Informations générales</strong></ion-card-title>
          </ion-card-header>
   
          <ion-card-content>

            <form #monFormulaire="ngForm">
                <ion-item lines="none" class="back2">
                  <ion-label position="stacked">Nom</ion-label>
                  <ion-input type="text" placeholder="Entrez votre Nom" name="nom" required [(ngModel)]="credentials1.nom"></ion-input>
                </ion-item>
   
                <ion-item lines="none" class="back2">
                  <ion-label position="stacked">Prénom</ion-label>
                  <ion-input type="text" placeholder="Entrez votre Prénom" name="prenom" required [(ngModel)]="credentials1.prenom"></ion-input>
                </ion-item>

                <ion-item lines="none" class="back2">
                  <ion-label position="stacked">Email</ion-label>
                  <ion-input type="email" placeholder="Entrez votre Adresse-mail" name="email" required [(ngModel)]="credentials1.email"></ion-input>
                </ion-item>
   
                <ion-button expand="block" type="submit" [disabled]="!monFormulaire.valid" (click)="saveName()">Suivant</ion-button>
            </form>
              <ion-item lines="none" class="back">
                <h3>Vous avez déjà un compte ? <a href="/login"><strong>Connectez-vous !!</strong></a></h3>
              </ion-item>

          </ion-card-content>
        </ion-card>
   
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4" offset-xl="4">
    
        <ion-card *ngIf="showSecondCard">
          <ion-button class="cancel-button" color="dark" (click)="returnName()">
            Annuler
          </ion-button>
          <ion-card-header>
            <ion-card-title class="ion-text-center"><strong>Informations de connexion</strong></ion-card-title>
            <h6>Votre mot de passe doit contenir : 8 caractères minimum, 1 majuscule, 1 minuscule, 1 chiffre et 1 caractère spécial ("_" et "-" non acceptés)</h6>
          </ion-card-header>
    
          <ion-card-content>
    
            <form #monFormulaire="ngForm">
              <ion-item lines="none" class="back2">
                <ion-label position="stacked">Identifiant :</ion-label>
                <ion-input type="text" placeholder="Entrez votre identifiant" name="login" required [(ngModel)]="credentials2.login"></ion-input>
              </ion-item>
    
              <ion-item lines="none" class="back2">
                <ion-label position="stacked">Mot de passe :</ion-label>
                <ion-input type="password" placeholder="Entrez votre mot de passe" name="pass" required [(ngModel)]="credentials2.pass"></ion-input>
              </ion-item>
    
              <ion-item lines="none" class="back2">
                <ion-label position="stacked">Confirmer le mot de passe :</ion-label>
                <ion-input type="password" placeholder="Entrez à nouveau le mot de passe" name="passconf" required [(ngModel)]="credentials2.passconf"></ion-input>
              </ion-item>
    
              <ion-item class="back2" lines="none">
                <ion-checkbox slot="start" required class="custom-checkbox"></ion-checkbox>
                <ion-label for="mentions-legales">
                  J'accepte les <a href="/terms">Conditions Générales d'Utilisation</a>
                </ion-label>
              </ion-item>
    
              <ion-item class="back2" lines="none">
                <h6>Veuillez accepter les termes d'utilisation pour continuer la procédure d'inscription.</h6>
              </ion-item>
    
              <ion-button expand="block" type="submit" [disabled]="!monFormulaire.valid" (click)="saveLogin()">Valider</ion-button>
    
            </form>
    
            <ion-item class="back" lines="none">
              <h3>Vous avez déjà un compte ? <a href="/login"><strong>Connectez-vous !!</strong></a></h3>
            </ion-item>
    
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
