<ion-split-pane contentId="my-content">
  <ion-menu side="start" type="overlay" contentId="my-content">
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-row class="row-spacing">
              <ion-col size="11" class="ion-border-right">
                <div class="image-container">
                  <img src="assets/icon/Arosaje.png" height="100 px" width="200 px" [routerLink]="['/advices']" RouterLinkActive="active">
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-border-bottom ">
              <ion-col size="1" class="ion-border-right">
                <ion-icon name="leaf-outline"></ion-icon>
              </ion-col>
              <ion-col size="11" class="ion-border-right">
                <a href="/map">Garder une plante</a>
              </ion-col>
            </ion-row>
            <ion-row class="ion-border-top ion-border-bottom">
              <ion-col size="1" class="ion-border-right">
                <ion-icon name="clipboard-outline"></ion-icon>
              </ion-col>
              <ion-col size="11" class="ion-border-right">
                <a href="/form-declare">Déclarer sa plante</a>
              </ion-col>
            </ion-row>
            <ion-row class="ion-border-top ion-border-bottom">
              <ion-col size="1" class="ion-border-right">
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-col>
              <ion-col size="11" class="ion-border-right">
                <a href="/form-garde">Faire une demande de garde</a>
              </ion-col>
            </ion-row>
            <ion-row class="ion-border-top ion-border-bottom">
              <ion-col size="1" class="ion-border-right">
                <ion-icon name="mail-outline"></ion-icon>
              </ion-col>
              <ion-col size="11" class="ion-border-right">
                <a href="/mes-messages">Mes messages</a>
              </ion-col>
            </ion-row>
            <ion-row class="ion-border-top">
              <ion-col size="1" class="ion-border-right">
                <ion-icon name="person-outline"></ion-icon>
              </ion-col>
              <ion-col size="11">
                <a href="/mon-profil">Mon espace</a>
              </ion-col>
            </ion-row>
            <ion-row class="ion-border-top">
              <ion-col size="1" class="ion-border-right">
                <ion-icon name="arrow-undo-circle"></ion-icon>
              </ion-col>
              <ion-col size="11">
                <a href="/logout">Se déconnecter</a>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ion-menu>
  <ion-content class="bg-class" id="my-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Faire une demande de garde</ion-title>
      </ion-toolbar>
    </ion-header>

    <div id="container">
      <ion-row>
        <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
          offset-xl="4">
     
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center"><strong>Faîtes votre demande de garde </strong></ion-card-title>
            </ion-card-header>
     
            <ion-card-content>
     
              <ion-item lines="none" class="back2">
                <ion-select placeholder="Choisissez parmi vos plantes déclarées" [(ngModel)]="planteSelected" (ionChange)="saveSelectedPlantId()">
                  <ion-select-option *ngFor="let plant of plants" [value]="plant.id">{{plant.name}}</ion-select-option>
                </ion-select>
              </ion-item>
     
              <ion-grid [fixed]="true" class="back2">
                <ion-row>
                  <ion-col size="12">
                    <ion-row class="ion-border-top ion-border-bottom">
                      <ion-col  size="6" class="ion-border-right">
                        <h5 class="custom-h5">Date de début :</h5>
                      </ion-col>
                      <ion-col size="6" class="ion-border-right">
                        <ion-button fill="clear" (click)="showStartDatePicker()">Choisir la date</ion-button>
                      </ion-col>
                    </ion-row>
                    <ion-row class="">
                      <ion-col size="12" class="ion-border-right">
                        <ion-datetime #datetimeDebut
                    *ngIf="showStartDatePickerFlag"
                    presentation="date"
                    [value]="dateDebut"
                    class="custom-datetime"
                    displayFormat="DD/MM/YYYY"
                    pickerFormat="DD/MM/YYYY"
                    name="dateDebut"
                    [(ngModel)]="dateDebut">
                    </ion-datetime>
                      </ion-col>
                      <ion-col size="12" class="ion-border-right">
                        <ion-button *ngIf="showStartButton" (click)="onButtonStartClick()"class="circlebutton">
                          <ion-icon name="close" class="icon"></ion-icon>
                        </ion-button>
                        <br>
                        <h5 *ngIf="dateDebut" position="stacked" margin="auto">Date de début sélectionnée : {{dateDebut | date: 'dd/MM/yyyy'}}</h5>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid> 
             
              <ion-grid [fixed]="true" class="back2">
                <ion-row>
                  <ion-col size="12">
                    <ion-row class="ion-border-top ion-border-bottom">
                      <ion-col  size="6" class="ion-border-right">
                        <h5 class="custom-h5">Date de fin :</h5>
                      </ion-col>
                      <ion-col size="6" class="ion-border-right">
                        <ion-button fill="clear" (click)="showEndDatePicker()">Choisir la date</ion-button>
                      </ion-col>
                    </ion-row>
                    <ion-row class="">
                      <ion-col size="12" class="ion-border-right">
                        <ion-datetime #datetimeFin
                    *ngIf="showEndDatePickerFlag"
                    presentation="date"
                    [value]="dateFin"
                    class="custom-datetime"
                    displayFormat="DD/MM/YYYY"
                    pickerFormat="DD/MM/YYYY"
                    name="dateFin"
                    [(ngModel)]="dateFin">
                    </ion-datetime>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12" class="ion-border-right">
                        <ion-button *ngIf="showEndButton" (click)="onButtonEndClick()"class="circlebutton">
                          <ion-icon name="close" ></ion-icon>
                        </ion-button>
                        <br>
                        <h5 *ngIf="dateFin" position="stacked" margin="auto">Date de fin sélectionnée : {{dateFin | date: 'dd/MM/yyyy'}}</h5>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid> 
              
              <ion-grid [fixed]="true" class="back">
                <ion-row>
                  <ion-col size="12">
                    <ion-row>
                      <ion-col size="12" class="ion-border-right">
                        <ion-button expand="block" (click)="declare()">Déclarer</ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid> 
            </ion-card-content>
          </ion-card>
     
        </ion-col>
      </ion-row>
    </div>
  </ion-content>
</ion-split-pane>
