<ion-split-pane contentId="my-content">
  <ion-menu side="start" type="overlay" contentId="my-content">
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-row class="row-spacing">
              <ion-col size="11" class="ion-border-right">
                <div class="image-container">
                  <img src="assets/icon/Arosaje.png" height="100 px" width="200 px" [routerLink]="['/advices']" RouterLinkActive="active">
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="ion-border-bottom ">
              <ion-col size="1" class="ion-border-right">
                <ion-icon name="leaf-outline"></ion-icon>
              </ion-col>
              <ion-col size="11" class="ion-border-right">
                <a href="/map">Garder une plante</a>
              </ion-col>
            </ion-row>
            <ion-row class="ion-border-top ion-border-bottom">
              <ion-col size="1" class="ion-border-right">
                <ion-icon name="clipboard-outline"></ion-icon>
              </ion-col>
              <ion-col size="11" class="ion-border-right">
                <a href="/form-declare">Déclarer sa plante</a>
              </ion-col>
            </ion-row>
            <ion-row class="ion-border-top ion-border-bottom">
              <ion-col size="1" class="ion-border-right">
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-col>
              <ion-col size="11" class="ion-border-right">
                <a href="/form-garde">Faire une demande de garde</a>
              </ion-col>
            </ion-row>
            <ion-row class="ion-border-top ion-border-bottom">
              <ion-col size="1" class="ion-border-right">
                <ion-icon name="mail-outline"></ion-icon>
              </ion-col>
              <ion-col size="11" class="ion-border-right">
                <a href="/mes-messages">Mes messages</a>
              </ion-col>
            </ion-row>
            <ion-row class="ion-border-top">
              <ion-col size="1" class="ion-border-right">
                <ion-icon name="person-outline"></ion-icon>
              </ion-col>
              <ion-col size="11">
                <a href="/mon-profil">Mon espace</a>
              </ion-col>
            </ion-row>
            <ion-row class="ion-border-top">
              <ion-col size="1" class="ion-border-right">
                <ion-icon name="arrow-undo-circle"></ion-icon>
              </ion-col>
              <ion-col size="11">
                <a href="/logout">Se déconnecter</a>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid> 
    </ion-content>
  </ion-menu>
  <ion-content class="bg-class" id="my-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Mes gardes after click</ion-title>
      </ion-toolbar>
    </ion-header> 
    <div class="ion-text-center">
      <br>
      <img [src]="imageUrl ? 'https://mspr-infra-bucket.s3.eu-west-3.amazonaws.com/images/' + imageUrl : 'https://img.freepik.com/vecteurs-premium/vecteur-icone-image-par-defaut-page-image-manquante-pour-conception-site-web-application-mobile-aucune-photo-disponible_87543-11093.jpg'" [style.width]="imageWidth" [style.height]="imageHeight" [style.object-fit]="imageOrientation" [style.max-width]="'100%'" [style.max-height]="'100%'">
      <br>
      <h5 style="color: white;" > Espèce de la plante : <ion-chip style="color: white;">{{species}}</ion-chip></h5>
      <h5 style="color: white;">Nom de la plante : <ion-chip style="color: white;">{{name}}</ion-chip></h5>
      <h5 style="color: white;">Date de garde :  Du <ion-chip style="color: white;">{{startdate | date}}</ion-chip> au <ion-chip>{{enddate | date}}</ion-chip></h5>
      <h5 style="color: white;">Nom du propriétaire : <ion-chip style="color: white;">{{first_name}} {{ last_name }}</ion-chip></h5>
      <ion-item class="back">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button expand="block" (click)="gotosessions()">Voir vos sessions</ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="block" [routerLink]="['/form-session']" RouterLinkActive="active">Ajouter une session</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </ion-content>
</ion-split-pane>
